.forum-icon_2 i::before {
	content: "\f233";
}

.forum-icon_4 i::before {
	content: "\f641";
}

.forum-icon_5 i::before {
	content: "\f13d";
}

.forum-icon_8 i::before {
	content: "\f1b9";
}

.forum-icon_7 i::before {
	content: "\f0d1";
}

		