::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: #224e91;
}

::-webkit-scrollbar-thumb:hover {
	background: #348e1d;
}

		