.modal_avatar {
    display: none;
    width: auto;
    height: auto;
    background: #f0f0f0;
    border: none;
    border-radius: 10px;
    position: absolute;
    z-index: 99999;
}
.modal_avatar_hover {
    width: auto;
    height: auto;
    background: #f0f0f0;
    border: none;
    border-radius: 10px;
    position: absolute;
    z-index: 99999;
}
.tavatar {
    padding: 0px 10px;
    text-align: center;
}
.tavatar img {
    max-height: 80px;
    max-width: 80px;
}
.avatarep_online {
    padding: 7px;
    box-shadow: inset 0 0 13px rgba(21, 117, 11, 0.58);
    border-radius: 50%;
    margin-top: 10px;
}
.avatarep_offline {
    padding: 7px;
    box-shadow: inset 0 0 13px rgba(186, 20, 20, 0.58);
    border-radius: 50%;
    margin-top: 10px;
}
.tavatar img {
    border-radius: 50%;
}
.hr {
    background-color: #504d48;
}
.trow_profile {
    vertical-align: top;
    padding-left: 9px;
    width: 340px;
    color: #6e6060;
}
.trow_profile a {
    color: #665f5f;
}
.trow_profile a:hover {
    color: #9a9894;
}
.trow_uprofile {
    min-height: 175px;
    line-height: 1.2;
}
.trow_uname {
    font-size: 15px;
}
.trow_memprofile {
    font-size: 11px;
    padding-top: 5px;
    display: inline-block;
    font-weight: normal;
    color: #665f5f;
}
.trow_status {
    font-size: 11px;
}
.avatarep_img_contributor {
    padding: 2px;
    border: 1px solid #D8DFEA;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.9;
    margin: 2px 5px 0px 2px;
    float: left;
}
.avatarep_img {
    padding: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.9;
    margin: 0px 5px 0px 2px;
}
.avatarep_fd {
    float: left;
    margin: auto;
    padding: 0px 20px 0px 0px;
    height: 40px;
    width: 30px;
}
.avatarep_fda,
.avatarep_fdl,
.avatarep_fdan,
.avatarep_fda_mine,
.avatarep_fdl_mine {
    float: left
}
.avatarep_fda,
.avatarep_fda_mine {
    margin-right: 15px
}
.avatarep_fdl_img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    margin-left: -35px;
    margin-top: 25px;
    border: 1px solid #424242;
    padding: 2px;
}
@media screen and (max-width: 450px) {
    .tavatar img {
        height: 30px;
        width: 30px;
        padding: 2px;
    }
    .trow_uname {
        font-size: 12px;
    }
    .avatarep_img_contributor {
        padding: 2px;
        border: 1px solid #D8DFEA;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        opacity: 0.9;
        margin: 2px 5px 0px 2px;
        float: left;
    }
    .avatarep_img {
        padding: 2px;
        border: 1px solid #D8DFEA;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        opacity: 0.9;
        margin: 0px 5px 0px 2px;
    }
    .avatarep_fd {
        float: left;
        margin: auto;
        padding: 0px 10px 0px 0px;
        width: 20px;
        height: 20px
    }
    .avatarep_fda,
    .avatarep_fdl,
    .avatarep_fdan,
    .avatarep_fda_mine,
    .avatarep_fdl_mine {
        float: left
    }
    .avatarep_fda,
    .avatarep_fda_mine {
        margin-right: 15px
    }
    .avatarep_fdl_img {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        position: absolute;
        margin-left: -35px;
        margin-top: 25px;
        border: 1px solid #424242;
        padding: 2px;
    }
}
		
		