body {
    font-family: 'Roboto', sans-serif;
    color: /*#363645*/#575656;
    font-size: 12px;
    background-color: #030303;
    overflow-x: hidden;
}
body:before {
    background-image: url(../../../images/grom/header-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center top;
    content: '';
    height: 380px;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    /*! z-index: -11; */
    position: absolute;
    border-bottom: 2px solid #ca0606;
    /*! background-size: 100%; */
    position: absolute;
}
a {
    font-weight: 400;
    color: #424251;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    color: #0074a2;
}
a:hover {
    color: #4b4b5a;
    color: #00b7ff;
    text-shadow: 0px 0px 5px;
}
.wrapper {
    max-width: 1480px;
    box-sizing: border-box;
    padding: 0px 25px;
    margin: 0px auto;
}
.clear {
    clear: both;
}
.wrapper img {
    max-width: 100%;
    filter: brightness(90%) contrast(90%);
}
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* HEADER */

header {
    margin: 0px auto;
    margin-top: -10px;
}

header .top {
    position: fixed;
    z-index: 10000;
    width:100%;
    top:0;
    border-bottom: 2px solid #ca0606;
    height:60px;
}
header .top:before {
    position: absolute;
    top: 0;
    content: "";
    right: 26.5em;
    left: 0;
    background: #0b0b0f url(../../../images/grom/thead-big.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    z-index: 0;
}
@media screen and (max-width: 1600px) {
    body:before {
        background-size: auto;
    }
    header .top:before {
        right: -10%;
    }
    #shoutbox .entry .avatar {
        left: 5px;
        top: 5px;
    }
}
@media screen and (max-width: 1400px) {
    header .top:before {
        right: -20%;
    }
    #shoutbox .entry .avatar {
        left: 5px;
        top: 3px;
    }
}
header .logo {
    height: 390px;
    position: relative;
    top: 0;
    bottom: 0;
}
header .logo img {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}
header .logo img {
    transform: translateY(-41%);
    position: absolute;
    top: 50%;
    left: -2%;
    transition: opacity 0.5s ease-in-out;
}
header .logo img:hover {
    opacity: 0.7;
}
header .hd-cont {
    position: relative;
    height: 20px;
    margin-top: -24px;
}
header .hd-cont .menu {
    margin: 0;
    padding: 0;
}
header .hd-cont .menu > li {
    display: inline-block;
}
header .hd-cont .menu > li > a {
    height: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 35px 20px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 1px;
}
header .hd-cont .menu > li > a:before {
    content: '';
    top: 13px;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    position: absolute;
    box-sizing: border-box;
    background: rgb(193, 0, 0);
    background: -moz-linear-gradient(top, rgb(193, 0, 0) 0%, rgb(60, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgb(193, 0, 0) 0%, rgb(60, 0, 0) 100%);
    background: linear-gradient(to bottom, rgb(193, 0, 0) 0%, rgb(60, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80b2fc', endColorstr='#4c6beb', GradientType=0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out opacity;
}
header .hd-cont .menu > li:hover > a {
    color: #ca0000;
}
header .hd-cont .menu > li.active > a:before,
header .hd-cont .menu > li:hover > a:before {
    opacity: 1;
    visibility: visible;
}
header .hd-cont .menu > li > a i {
    font-size: 17px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 15px;
    color: #c10606;
    background: -webkit-linear-gradient(#c10606, #790e0e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header .hd-cont .menu > li:first-child > a {
    padding-left: 0;
}
.inline-media {
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 5;
}
.inline-media > a {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    display: inline-block;
    margin-left: -4px;
    font-size: 10pt;
    margin-left: 20px;
    padding-top: 6px;
    line-height: 0;
}
.inline-media > a.fb {
    background: rgb(61, 89, 155);
}
.inline-media > a.tw {
    background: rgb(0, 171, 238);
}
.inline-media > a.gp {
    background: rgb(220, 66, 43);
}
.inline-media > a.st {
    background: rgb(34, 34, 34);
}
.inline-media > a.yt {
    background: rgb(255, 2, 30);
}
.inline-media > a {
    transition: transform 0.3s ease-in-out;
}
.inline-media > a:last-child {
    margin-right: 0px;
}
.inline-media > a:hover {
    transform: scale(1.5);
    z-index: 10;
}
header .control-panel nav > ul.user-panel > li:hover i,
header .control-panel nav > ul.user-panel > li:hover > span {
    transition: all 0.3s ease-in-out;
}
header .control-panel {
    width: 100%;
    float: right;
    box-sizing: border-box;
    padding-top: 11px;
}
header .control-panel ul {
    /* list-style: none; */
    padding: 0;
    margin: 0;
}
header .control-panel ul.dropdown {
    top: 45px;
}
header .control-panel nav > ul.user-panel {
    text-align: right;
    box-sizing: border-box;
}
header .control-panel nav > ul.user-panel > li:not(.imp-menu),
.control-panel nav > ul.user-panel > li.imp-menu > ul > li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 13px;
    line-height: 1;
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    margin-left: 13px;
    padding: 15px 7px;
}
.control-panel nav > ul.user-panel > li.imp-menu > ul > li:first-child {
    margin-left: 0;
}
.control-panel nav > ul.user-panel > li.imp-menu > ul > li.login {
    padding: 15px 0;
}
header .control-panel nav > ul.user-panel > li.imp-menu > ul > li > a {
    display:inline-block;
}
header .control-panel nav > ul.user-panel > li.imp-menu > ul > li > a:hover i {
    opacity:0.7;
}
header .control-panel nav > ul.user-panel > li.imp-menu {
    display: inline-block;
}
header .control-panel nav > ul.user-panel > li:last-child {
    margin-right: 0px;
}
header .control-panel nav > ul.user-panel > li.user-menu > span {
    font-weight: bold;
    color: rgb(255, 255, 255);
}
header .control-panel nav > ul.user-panel > li > a,
header .control-panel nav > ul.user-panel > li.imp-menu > ul > li > a,
{
    color: rgb(127, 127, 127);
}
header .control-panel nav > ul.user-panel > li > a:hover {
    color: #fff;
}
header .control-panel nav > ul.user-panel > li .pms-value {
    position: absolute;
    left:0;
    right: 0;
    width: calc(100% - 2px);
    /* transform: translateX(-50%); */
    background: #f73e3e;
    color: #fff;
    display: inline-block;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
    top:-1px
    
}
header .control-panel nav > ul.user-panel > li .pms-value.value-0 {
    display: none;
}
header .control-panel nav > ul.user-panel > li .pms-value:before {
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    content: '\f0d7';
    position: absolute;
    color: #f73e3e;
    top: 6px;
    left: 0;
    right: 0;
    /*! transform: translateX(-50%); */
   
}
header .control-panel nav > ul.user-panel > li.user-menu {
    position: relative;
    padding-left: 64px;
}
header .control-panel nav > ul.user-panel .avatar {
    height: 30px;
    position: absolute;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    display: inline-block;
    margin-top: -3px;
    vertical-align: middle;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(237, 237, 241);
    border-image: initial;
    border-radius: 50%;
}
header .control-panel nav > ul.user-panel li.login span {
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}
header .control-panel nav > ul.user-panel li.register a {
    margin-top: -14px;
    background: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    height: 43px;
    border: 1px solid rgba(255,255,255,.2);
    line-height: 43px;
    padding: 0 20px;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    transition: 0.3s ease-in-out opacity;
}
header .control-panel nav > ul.user-panel li.register a:hover {
    opacity: .8;
}
header .control-panel nav > ul.user-panel li.login {
    color:#fff;
    padding: 15px 0;
}
header .control-panel nav > ul.user-panel li.register {
    padding: 15px 0;
}
header .control-panel nav > ul.user-panel li.login span {
    text-transform: uppercase;
    font-weight:bold;
}
header .middle nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header .middle nav ul.page {
    float: left;
    width: 60%;
}
.icon--base-color,
header .middle nav ul.page i,
header .middle nav ul.user2 > li.read-all a:before,
header .middle nav ul.user2 > li.new-content a:before,
.server-container > div.ip:before,
.server-container > div.map:before,
main .top .sidebar .side-table .headline i,
.stat-container--title:before,
header .control-panel nav > ul.user-panel > li.imp-menu > ul > li > a i {
    color: #c10606;
    background: -webkit-linear-gradient(#c10606, #790e0e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header .middle nav ul.page i {
    vertical-align: middle;
    font-size: 16px;
    margin-top: -3px;
    margin-right: 5px;
}
header .middle nav ul.page > li {
    display: inline-block;
    max-width: 400px;
    margin-left: -3px;
    white-space: nowrap;
    overflow: hidden;
    height: 18px;
    vertical-align: middle;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    color: #4b4b57;
}
header .middle nav ul.page > li a {
    color: #4b4b57;
}
header .middle nav ul.page > li a:hover, header .middle nav ul.user2 > li a:hover {
    color: #963a3a;
}
header .middle nav ul.page > span {
    padding-right: 10px;
}

/*
header .middle nav ul.page > li:not(:first-of-type):before {
    font-family: "Font Awesome 5 Pro";
    content: '\f105';
    font-size: 12px;
    padding: 0 8px;
    font-weight: 900;
}*/
header .middle nav ul.user2 {
    float: right;
    width: 40%;
    text-align: right;
}
header .middle nav ul.user2 > li {
    display: inline-block;
    margin-right: 40px;
    color: #fff;
}
/*
header .middle nav ul.user2 > li.read-all a:before {
    content: '\f129';
    padding-right: 5px;
    font-family: "Font Awesome 5 Pro";
    vertical-align: middle;
    display: inline-block;
}
header .middle nav ul.user2 > li.new-content a:before {
    content: '\f005';
    padding-right: 5px;
    font-family: "Font Awesome Pro 5";
    vertical-align: middle;
    display: inline-block;
}*/
header .middle nav ul.user2 > li:last-child {
    margin-right: 0;
}
header .middle nav ul.user2 > li a {
    font-size: 12px;
    vertical-align: middle;
}
header .menu-container {
    min-height: 48px;
}
header .menu-container .middle {
    padding: 17px 0px 17px 0px;
}
/* MAIN */

main {
    margin-top: 30px;
}
main .top {
    display: table;
    width: 100%;
    z-index: unset!important;
}
.cont {
    display: table-cell;
    vertical-align: top;
    position: relative;
}
.categories .category,
.stable:not(.wp),
.thread-table {
    margin-top: 20px;
    border-radius: 0px 0px 8px 8px;
}
.cont .category:first-child,
.categories,
.stable:first-child {
    margin-top: 0px;
}
.categories .category {
    position: relative;
    border-bottom: 2px solid #232323;
}
.categories .category:not(:first-child) {
    margin-top: 30px;
}
.categories .category > .headline,
.thread-table .headline,
.stable > .headline,
.thead {
    padding: 25px 25px 0 25px;
    box-sizing: border-box;
    line-height: 28px;
    height: 73px;
    background: url(../../../images/grom/thead-big.png) no-repeat;
    border-radius: 8px 8px 0px 0px;
    background-size: 100% 100%;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    background-position: right center;
    border-bottom: 2px solid #ca0606;
}
.thead {
    vertical-align:top;
}
.index .categories .category > .headline {
    border-bottom: 2px solid #ca0606;
}
.thread-table .headline {
    font-size: 12px;
    font-weight: bold;
}
.thread-table .headline .left,
.stable > .headline .left,
.categories .category > .headline .left {
    float: left;
    line-height: 28px;
}
.categories .category > .headline .description {
    display: none;
}
.thread-table .headline a,
.stable > .headline a,
.categories .category > .headline a {
    font-size: 12px;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 10px #b70000;
}
.categories .category > .headline a:before, .stable .headline a:before {
    /* background: url(../../../images/grom/icon_category.png) no-repeat; */
    display: inline-block;
    /* height: 16px; */
    width: 20px;
    margin-top: -4px;
    vertical-align: middle;
    margin-right: 10px;
    content: '\f07b';
    font-family: "Font Awesome 5 Pro";
    font-size: 1.6em;
}
.thread-table .headline a:hover,
.stable > .headline a:hover,
.categories .category > .headline a:hover,
.stable > .headline .right a:hover,
header .control-panel nav > ul.user-panel li.login span:hover {
    color: #32a903;
    text-shadow: 0px 0px 5px #29a700;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}
.stable > .headline .right a {
    color: #fff;
    display: inline-block;
}
.categories .category > .headline .close,.stable > .headline .close {
    float: right;
    margin-top: -11px;
}
.categories .category > .headline .close img,.stable > .headline .close img {
    margin-right: -5px;
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    transition: 0.3s ease-in-out transform;
}
.categories .category > .headline .close img:hover, .stable > .headline .close img:hover {
    transform: rotate(180deg);
}
.stable > .container,
.categories .category .forums {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    background: #0c0c0c;
}
.stable .row,
.categories .category .forums .forum,
.thread-table .post-container,
.thread-table .row,
.trow1,
.trow2 {
    box-sizing: border-box;
    padding: 20px 15px;
}
.categories .category .forums .forum {
    display: table;
    width: 100%;
    position: relative;
    /* background: #0c0c0c; */
    border-bottom: 1px solid #1d1c1c;
}
.categories .category .forums .forum:last-child {
    border-bottom: 0;
}
.categories .category .forums .forum > div {
    display: table-cell;
    vertical-align: middle;
}
.categories .category .forums .forum > div.forum-info {
    width: 43%;
    line-height: 19px;
    font-size: 10.5pt;
    padding-left: 15px;
}
.categories .category .forums .forum > div.forum-stats {
    width: 30%;
    padding-right: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    text-align: right;
    font-size: 13pt;
}
.categories .category .forums .forum > div.forum-stats .posts-container .item {
    float: right;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
}
.categories .category .forums .forum > div.forum-stats .posts-container .item .number,
.categories .category .forums .forum > div.forum-stats .posts-container .item .title {
    display: block;
    text-align: right;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
}
.categories .category .forums .forum > div.forum-stats .posts-container .item .title {
    color: #363645;
    text-transform: lowercase;
    display: block ruby;
}
.categories .category .forums .forum > div.forum-stats .posts-container .item .number {
    color: #bbb;
}
.categories .category .forums .forum > div.lthr {
    width: 23%;
    box-sizing: border-box;
    position: relative;
}
.categories .category .forums .forum > div.lthr .avatarep_fd {
    margin: 0;
    padding: 0;
    float: none;
    width: auto;
    height: auto;
    display: inline-block;
}
.categories .category .forums .forum > div.lthr.center {
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.categories .category .forums .forum > div.lthr .avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
}
.categories .category .forums .forum > div.lthr .avatar img {
    padding: 0;
    margin: 0;
}
.categories .category .forums .forum > div.lthr .info {
    padding-left: 50px;
    font-size: 12px;
    line-height: 16px;
    color: #767677;
}
.categories .category .forums .forum > div.lthr .info .title,
.categories .category .forums .forum > div.lthr .info .additional {
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-size: 12px;
    max-width: 125px;
    text-overflow: ellipsis;
}
.categories .category .forums .forum > div.lthr .info .date {
    font-size: 12px;
}
.categories .category .forums .forum > div.lthr .info .title {
    font-size: 12pt;
    font-weight: normal;
    margin: 0;
}
.categories .category .forums .forum > div.forum-info .forum-name a,
main .top .sidebar .side-table .list .row .text .bold a,
.row.thread .thread-info .info .thread-name a {
    color: #b30c0c;
    font-size: 13px;
    font-weight: bold;
}
.categories .category .forums .forum > div.forum-info .forum-name a:hover,
.categories .category .forums .forum > div.lthr .info .title a:hover,
main .top .sidebar .side-table .list .row .text .bold a:hover,
.categories .category .forums .forum > div.lthr .info .title a:hover,
.categories .category .forums .forum > div.lthr .info .title:hover,
.categories .category .forums .forum > div.forum-info .sub-forums ul li a:hover,
.row.thread .thread-info .info .thread-name a:hover {
    color: #32a903;
    text-shadow: 0px 0px 5px #29a700;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}
.categories .category .forums .forum > div.lthr .info .title a {
    font-size: 13px;
    color: /*#008eff*/ #b30c0c;
    font-weight: bold;
}
.categories .category .forums .forum > div.forum-info .forum-description,
#ougc_awards .forum-description {
    color: #767677;
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
    font-weight: normal;
}
.categories .category .forums .forum > div.forum-info .forum-description img {
    max-width: 100%;
}
.categories .category .forums .forum > div.forum-info .sub-forums {
    font-size: 11px;
    margin-top: 10px;
}
.categories .category .forums .forum > div.forum-info .sub-forums ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.categories .category .forums .forum > div.forum-info .sub-forums ul li {
    width: 50%;
    float: left;
    font-size: 12px;
}
.categories .category .forums .forum > div.forum-info .sub-forums ul li a {
    font-weight: bold;
    color: /*#0069a2 #b30c0c*/ #820d0d;
}
.categories .category .forums .forum > div.status {
    width: 4%;
    position: relative;
    text-align: center;
}
.categories .category .forums .forum > div.status .forum_status {
    text-align: center;
}
.categories .category .forums .forum > div.status .icon {
    height: 19px;
    width: 22px;
    display: inline-block;
    float: left;
}
main .top .sidebar {
    display: table-cell;
    width: 372px;
    padding-left: 60px;
    vertical-align: top;
    box-sizing: border-box;
}
main .top .sidebar .thead:before,
main .top .sidebar .thead .expcolimage {
    display: none;
}
main .top .sidebar .side-table:not(:first-child) {
    margin-top: 30px;
}
main .top .sidebar .side-table .headline,
main .top .sidebar .thead {
    border-top-right-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: url(../../../images/grom/side-thead.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    font-size: 12px;
    padding: 0 21px;
    line-height: 71px;
    height:71px;
}
main .top .sidebar .thead strong {
    font-weight: bold;
}
main .top .sidebar .trow1,
main .top .sidebar .trow2 {
    padding: 10px 5px;
}
main .top .sidebar .side-table .headline i {
    vertical-align: middle;
    margin-top: -5px;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
}
main .top .sidebar .side-table .list {
    background: #040405;
    padding: 0 15px;
}
main .top .sidebar .side-table .list .row {
    position: relative;
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 10px;
    font-size: 12px;
    color: #545466;
}
main .top .sidebar .side-table .list .row:not(:last-child):before {
    content: '';
    background: url(../../../images/grom/side-border.png) no-repeat;
    background-position:center 0;
    height: 1px;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
}
main .top .sidebar .side-table .list .row:last-child {
    border-bottom: 0;
}
main .top .sidebar .side-table .list .row .avatar {
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}
main .top .sidebar .side-table .list .row .result {
    top: 50%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    min-width: 41px;
    vertical-align: middle;
    position: absolute;
    background: rgb(250, 123, 123);
    background: -moz-linear-gradient(top, rgb(250, 123, 123) 0%, rgb(240, 87, 87) 100%);
    background: -webkit-linear-gradient(top, rgb(250, 123, 123) 0%,rgb(240, 87, 87) 100%);
    background: linear-gradient(to bottom, rgb(250, 123, 123) 0%,rgb(240, 87, 87) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bacfa', endColorstr='#577cf0',GradientType=0 );
    box-sizing: border-box;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    right: 8px;
    transform: translateY(-50%);
}
main .top .sidebar .side-table .list .row .avatar img {
    width: 35px;
    height: 35px;
    float: none;
    margin-right: 0px;
    border-radius: 50%;
}
main .top .sidebar .side-table .list .row .text {
    font-size: 13pt;
    line-height: 18px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
main .top .sidebar .side-table .list .row .nickname {
    font-size: 12px;
    line-height: 18px;
    padding: 8px 0px 8px 10px;
    display: table-cell;
    vertical-align: middle;
}
main .top .sidebar .side-table .list .row .text .bold {
    font-size: 13px;
    color: #ff0000;
    font-weight: normal;
}
main .top .sidebar .side-table .list .row .text .author {
    font-size: 12px;
}
main .top .sidebar .side-table .list .row .text .date {
    font-size: 12px;
}
/* STATSBOARD */

.statsboard {
    margin-top: 60px;
}
.statsboard .stats {
    width: 80%;
    margin: 0 auto 50px auto;
}
.statsboard .stats .stat {
    width: 23.5%;
    float: left;
    position: relative;
}
.statsboard .stats .stat.users {
    width:30%;
}
.statsboard .stats .stat.newest {
    width: 22%;
}
.statsboard .stat .icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.statsboard .stats .stat:not(.newest) .icon:before {
    content: '';
    height: 59px;
    width: 62px;
    display: inline-block;
}
.statsboard .stats .stat.threads .icon:before {
    background: url(../../../images/grom/threads-icon.png);
    margin-top: -10px;
} .statsboard .stats .stat.posts .icon::before {
    width: 57px;
    background: url(../../../images/grom/posts-icon.png);
    margin-top: -10px;
}
.statsboard .stats .stat.users .icon:before {
    background: url(../../../images/grom/users-icon.png);
    height: 44px;
}
.statsboard .stats .stat.most_online .icon:before {
    background-position: 0px -46px;
}
.statsboard .stat .text {
    color: rgb(255, 255, 255);
    display: inline-block;
    line-height: 23px;
    vertical-align: top;
}
.statsboard .stat.newest .text {
    line-height: 19px;
}
.statsboard .stat .text .number {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.statsboard .stat .text .title {
    color: #363645;
    font-size: 12px;
    font-weight: bold;
}
.statsboard .stat.newest .text .newest-name {
    font-size: 14px;
    font-weight: bold;
}
.statsboard .stat .text .title:first-letter {
    text-transform: uppercase;
}
.statsboard .stat.newest .icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.statsboard .stat .text .title.joined {
    text-transform: capitalize;
    font-weight:bold;
    margin-top: 4px;
    display: inline-block;
}
.stat-container {
    padding: 10px 0;
    margin-top: 20px;
    line-height: 29px;
    background: #0c0c0c;
}
.stat-container:last-child {
    padding-bottom: 40px;
}
.stat-container--title {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.stat-container--title:before {
    content: '\f080';
    font-family:"Font Awesome 5 Pro";
    font-size:15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.stat-container--note {
    color: #939393;
    font-size: 11px;
    /*! display: none; */
}
.stat-container--note a {
    color: #fff;
}
.stat-container--list {
    font-size: 14px;
    line-height: 20px;
    border-bottom: 2px solid #232323 !important;
    border-radius: 0px 0px 8px 8px;
}
.stat-container--list {
    content: ',';
    color: #fff;
}
/* FOOTER */

footer {
    box-sizing: border-box;
    position: relative;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.4);
    height: 100px;
    color: #939393;
}
footer .left {
    padding-top:20px;
}
footer .right {
    padding-top: 43px;
}
body:after {
    content: '';
    height: calc(100%);
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -2;
    position: ;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(../../../images/grom/footer-bg2.png);
    box-shadow: inset 0px 60px 30px 0px #030303;
    filter: brightness(125%);
    position: fixed;
    background-size: auto 100%;
}
.footer__engine__link {
    margin:0;
    font-size:13px;
    font-weight:bold;
    color:#363645;
    line-height:20px;
}
.footer__engine__link a {
    color:#363645;
    font-weight:bold;
}
.footer__engine__link--by a, .footer__engine__link a:hover {
    color:#eb0000;
    font-weight:bold;
}
.footer__engine__link--by a:hover {
    color:#c75a5a;
}
.footer__menu {
    margin:0;
    padding:0;
    list-style:none;
}
.footer__menu > li {
    display:inline-block;
    margin-left: 20px;
    color: #323240;
    font-weight: bold;
    font-size: 12px;
    transition:.3s ease-in-out color;
}
.footer__menu > li a {
    color: #323240;
    font-weight: bold;
}
.footer__menu > li a:hover,.footer__menu > li:hover, .footer__menu > li a:hover,.footer__menu > li .selectize--opened {
    color: #fc8181;
}

.footer__menu > li input[type=submit] {
    display:none;
}
.footer__btt {
    position:absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    color: #323240;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}
.footer__btt__bttn {
    height: 62px;
    display: block;
    width: 62px;
    background: url(../../../images/grom/btt.png);
    margin: 0 0 0 4px;
}
.footer__btt__title {
    margin-top:10px;
    display: block;
}

/* LOGINBOX */

.login-box-index {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: none;
}
.login-box {
    position: absolute;
    /* top: 50%; */
    text-align: left;
    left: 50%;
    width: 550px;
    transform: translate(-50%, 50%);
    z-index: 100000;
    background: #0b0b0d;
    display: none;
}
.login-box .head {
    background: #6b0f0f;
    padding: 20px;
    font-size: 12pt;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
}
.login-box .head .close {
    float: right;
    font-size: 13pt;
    font-weight: bold;
    cursor: pointer;
}
.login-box form {
    padding: 20px;
}
.login-box form input:not([type=checkbox]) {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 11pt;
    box-sizing: border-box;
    transition: 0.4s ease-in-out background;
    background: #1d1d1d;
    color: #d7d7d7;
    outline: 0;
    border-radius: 8px;
    border: 1px solid #2c2c38;
}
.login-box form input:not([type=checkbox]):focus {
    background: #848484;
}
.login-box form input:not([type=checkbox]):focus::placeholder {
    color:#000;
    font-weight: bold;
}
.login-box form label {
    margin-top: 20px;
    display: block;
    font-size: 10pt;
}
.login-box form label input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 12px;
}
.login-box form input:not([type=checkbox]):first-child {
    margin: 0;
}
.login-box form .remember-passwd {
    margin-top: 8px;
}
.login-box form .remember-passwd a {
    color: #6c6262;
    font-size: 10pt;
}
.login-box form button {
    margin: 10px 0 0 0;
}
.login-box form button:focus {
    background: #353030;
}
/* TABLES */

.stable .headline .right {
    float: right;
}
.stable .headline .right input.textbox {
    padding: 6px 10px;
}
.stable .row,
.trow1,
.trow2 {
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    padding: 20px 25px;
    word-break: break-all;
    background: #080808;
    border-bottom: 1px solid #0e0e14;
}
.stable .row .row,
.trow1 .trow1,
.trow2 .trow2 {
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    padding: 20px 25px;
    word-break: break-all;
    background: #0d0d0d;
    border-bottom: 1px solid #131313;
}
.tcat,
.tfoot,
.stable .row.sticky,
.stable .row.normal,
.stable .row.toch {
    background: rgb(93, 0, 0);
    padding: 10px 25px;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
}
.tcat a,
.tfoot a,
.stable .row.sticky a,
.stable .row.normal a,
.stable .row.toch a {
    color: #ace17c;
}
.tcat:not(:last-child) {
    border-right: 1px solid #070707;
}
.stable .row .title {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
}
.stable .row .title i {
    margin-right: 5px;
}
.stable .row .value {
    display: inline-block;
    color: #9d9999;
    font-size: 11pt;
}
.stable .row > .title {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    color: #d3d0d0;
}
.stable .row > .title i {
    margin-right: 5px;
}
.stable .row .value {
    display: inline-block;
    color: #9d9999;
    font-size: 12px;
    padding-left: 5px;
}
.row.thread {
    display: table;
    width: 100%;
}
.row.thread > div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.row.thread > div.status,
.row.thread > div.icon {
    width: 2%;
}
.row.thread > div.thread-info {
    width: 40%;
}
.row.thread > div.stats {
    width: 15%;
    text-align: right;
}
.row.thread > div.stats span {
    font-size: 12px;
    font-weight: bold;
}
.row.thread > div.stats a,
.row.thread > div.stats .views:not(span) {
    font-size: 9.5pt;
    vertical-align: middle;
}
.row.thread > div.last-post {
    width: 17%;
    text-align: right;
}
.row.thread > div.modbit {
    width: 3%;
    text-align: right;
}
.row.thread .last-post {} .row.thread .thread-info {
    position: relative;
}
.row.thread .thread-info .avatar,
.row.thread .last-post .avatar,
.row.och .avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.row.thread .last-post .avatar {
    right: 0;
}
.row.och .info {
    padding-left: 50px;
}
.row.thread .last-post .info {
    padding-right: 60px;
    font-size: 12px;
    line-height: 20px;
}
.row .avatarep_fd {
    float: none;
    margin: auto;
    padding: 0;
    width: auto;
    height: auto;
}
.row.thread .thread-info .info:not(.avatar-none) {
    padding-left: 60px;
}
.row.thread .thread-info .info .thread-name a {
    /*color: #ffffff;*/
    font-size: 13px;
    font-weight: bold;
}
.row.thread .thread-info .info .thread-name a img {
    vertical-align:middle;
}
.row.thread .thread-info .info a,
.row.thread > div.stats a {
    font-size: 9.5pt;
}
.row.avatar img {
    max-width: unset;
    max-height: unset;
}
/* dropdown */

.dropdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 999999; */
}
.dropdown-link {
    cursor: pointer;
}
ul.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    color: rgb(255, 255, 255);
    text-align: left;
    z-index: 9999999;
    box-sizing: border-box;
    left: 10px;
    width: 170px;
    background: rgb(5, 5, 6);
    border-image: initial;
    border-radius: 3px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.dropdown:before {
    content: '\f0d8';
    margin-top: -15px;
    margin-left: 5px;
    font-size: 15pt;
    color: rgb(142, 12, 12);
    display: inline-block;
    text-shadow: none;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

ul li.menu-dropdown ul.dropdown {
    position: relative;
    display: table;
    top: -0.5rem;
    bottom: 0;
    left: 18px;
}
ul.dropdown li {
    /*! padding: 10px 23px; */
    font-size: 10.5pt;
    border-bottom: 1px solid #0f0f16;
    width: 100%;
}
ul.dropdown li i {
    margin-right: 5px;
    color: #60606f;
}
ul.dropdown li a {
    font-size: 0.75rem;
    color: #60606f;
    width: 100%;
    padding: 10px 23px;
    display: inline-block;
}

ul.dropdown li:hover {
    background: #0f0f16;
}
ul.dropdown li:last-child {
    border: none;
}
ul.dropdown li:hover a {
    color: #cad2dd;
}
ul.dropdown li:hover i {
    color: #cad2dd;
}
ul.dropdown.on-right {
    width: 185px;
    left: unset;
    right: 1px;
    top: 30px;
}
ul.dropdown.on-right:before {
    margin-right: 3px;
    float: right;
}
li.menu-dropdown .dropdown.on-right:before {
    margin-right: 3px;
    float: left;
}
/*ucp*/
.ucp-menu > ul > li ul.dropdown li a {
    padding: 10px;
}

.ucp-container > .left {
    width: 100%;
    text-align: center;
    float: none;
}
.ucp-container > .right {
    float: none;
    padding-top: 20px;
}
.ucp-container > .right .stable:first-of-type,
.ucp-container > .right .thread-table:first-of-type {
    margin-top: 0;
}
.ucp-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ucp-menu > ul > li {
    position: relative;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 5px;
    font-size: 11px;
    outline: 0;
    border: 0;
    background: #940202;
    background: -moz-linear-gradient(top, #940202 0%, #4e0202 100%);
    background: -webkit-linear-gradient(top, #940202 0%, #4e0202 100%);
    background: linear-gradient(to bottom, #940202 0%,#4e0202 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#940202', endColorstr='#4e0202', GradientType=0);
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #6b0f0f;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: top;
    transition: 0.3s ease-in-out opacity;
}
.ucp-menu > ul > li > a,
.ucp-menu > ul > li > span {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 10pt;
    padding: 1rem 1.2rem;
    min-width: 10.5rem;
}
.ucp-menu > ul > li > a:hover,
.ucp-menu > ul > li > span:hover {
    font-size: 0.85rem;
}
.ucp-menu > ul > li:hover {
    background: #bf0000;
    background: -moz-linear-gradient(top, #bf0000 0%, #600c0c 100%);
    background: -webkit-linear-gradient(top, #bf0000 0%, #600c0c 100%);
    background: linear-gradient(to bottom, #bf0000 0%,#600c0c 100%);
    border-color: #bf0000;
}

.ucp-menu .dropdown {
    width: 100%;
    top: 46px;
    left: 0;
    right: 0;
}
.ucp-menu .dropdown:before {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -14px;
    text-align: center;
}
/*post*/

.tb-container .right {
    float: right;
    text-align: right;
}
.thread-table {
    position: relative;
}
.stable .row .options > label {
    background: #09090b;
    padding: 9px 12px;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin: 3px 0;
    box-sizing: border-box;
}
.thread-table .row {
    background: #191920;
    border-top: 1px solid #0e0e14;
}
.thread-table .row,
.stable .row .options > label strong {
    font-size: 12px;
    font-weight: 500;
}
.stable .row .options > label input {
    display:inline-block;
    vertical-align:middle;
}
.row .options {
    float: right;
    width: 18%;
}
.row .textarea-c {
    float: left;
    width: 80%;
    max-width: 100%;
}
.stable .row textarea {
    width: 100%;
    padding: 20px 15px;
}
.stable .row textarea {
    min-height: 152px;
}
.thread-table .row .left {
    float: left;
    font-size: 12px;
}
.thread-table .row .left a, .thread-table .row .right a {
    color: #545466;
    font-weight:bold;
}
.thread-table .row .right {
    float: right;
    font-size: 12px;
}
.thread-table .row .right i {
    float: right;
    margin-left: 10px;
    margin-top: 3px;
    vertical-align: middle;
}
.thread-table .row .left i {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    vertical-align: middle;
}
.thread-table .post-container {
    display: table;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    background: #111116;
}
.thread-table .post-container:not(:last-of-type) {border-bottom: 1px solid #0e0e14;}
.thread-table .post-container .author-info {
    display: table-cell;
    width: 19%;
    padding: 20px 25px;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    position: relative;
    line-height: 23px;
}
.thread-table .post-container .author-info .username {
    font-size: 14px;
}
.thread-table .post-container .author-info .avatar {
    margin: 20px auto;
    width: 100px;
}
.thread-table .post-container .author-info .avatar img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.thread-table .post-container .author-info .title {
    font-size: 12px;
    color: #545466;
    font-weight: 500;
}
.thread-table .post-container .post-info {
    display: table-cell;
    padding: 20px 25px;
    box-sizing: border-box;
    color: #828282;
    padding-bottom: 70px;
    height: 100%;
    vertical-align: top;
    border-left: 1px solid #0e0e14;
    position: relative;
    overflow: unset;
}
.thread-table .post-container .post-info .post_head {
    font-size: 12px;
    color: #545466;
    font-weight: bold;
}
.thread-table .post-container .post-info .post_head a {
    color: #545466;
    font-weight: bold;
}
.thread-table .post-container .post-info .post_head {} .thread-table .post-container .post-info .content {
    word-break: break-all;
    margin-top: 20px;
    font-size: 13px;
    color: #b9b9b9;
}
.thread-table .post-container .post-info .signature {
    max-height: 120px;
    word-break: break-all;
    overflow: auto;
    margin-top: 20px;
    border-top: 1px solid #5a1d1d;
    font-size: 11pt;
    padding: 15px;
}
.thread-table .post_meta {
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
}
.thread-table .headline .thread_mode {
    float: right;
}
.thread-table .avatar {
    position: relative;
}
.thread-table .status {
    position: absolute;
    bottom: 0;
    right: 10px;
    border: 3px solid #040405;
    border-radius: 50%;
}
.thread-table .status .user-online {
    background: #54c128;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.thread-table .status .user-offline {
    background: #c12828;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.thread-table .post-container .author-info .inline-stats {
    text-align: center;
    color: #fff;
}
.thread-table .post-container .author-info .inline-stats > * {
    display: inline-block;
    font-size: 12px;
    background: #1d2029;
    border-radius: 3px;
    padding: 3px 7px;
    margin: 0 2px;
    font-weight: bold;
}
.thread-table .post-container .author-info .inline-stats * {
    color: #fff !important;
    font-weight: bold;
}
.thread-table .post-container .author-info .inline-stats > .reputation {
    background: #285118;
}
.thread-table .post-container .author-info .inline-stats > .war-lvl {
    background: #761e1e;
}
.thread-table .profilefield,
.thread-table .groupimage {
    margin-bottom: 15px;
    font-size: 11pt;
}
.thread-table .post-controls {
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 25px;
}
.thread-table .edit {
    display: inline-block;
    position: relative;
}
.thread-table .edit ul {
    position: absolute;
    min-width: 150px;
    line-height: 13px;
    display: none;
    background: #171a20;
    list-style: none;
    top: 20px;
    z-index: 2;
    box-sizing: border-box;
    padding: 7px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.thread-table .edit ul li {
    display: block;
    font-size: 10.5pt;
    background: none;
}
.thread-table .edit ul li a {
    background: none;
    transition: 0.6s color ease-in-out;
    color: #c0afaf;
    height: auto;
}
.thread-table .edit ul li a:hover {
    color: #ccc;
}
.thread-table .edit:hover ul {
    opacity: 1;
    visibility: visible;
    display: block;
}
.thread-table .edit ul:before {
    position: absolute;
    display: inline-block;
    top: 0;
    font-family: "Font Awesome 5 Pro";
    text-align: center;
    content: '\f0de';
    color: #171a20;
    height: 10px;
    top: -10px;
    line-height: 27px;
    text-align: left;
    left: 0;
    padding-left: 2px;
    right: 0;
    font-size: 26px;
}
.stable .row.och {
    display: table;
    width: 100%;
    text-align: left;
}
.stable .row.och > div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 10px;
}
.stable .row.och.np > div {
    padding: 0 10px;
}
.stable .row.och .title {
    width: 50%;
}
.stable .row.och .username {
    width: 23%;
}
.stable .row.och .dateline {
    width: 25%;
}
.stable .row.och .manage {
    width: 2%;
    text-align: right;
}
.stable .row .right {
    float: right;
}
.ms-stuff {
    margin: 20px 0;
}
.ms-stuff .left {
    float: left;
}
.ms-stuff .right {
    float: right;
}
.ucp-options fieldset {
    background: #1c2029;
    border: none;
    border-radius: 3px;
    font-size: 10.5pt;
}
.ucp-options fieldset legend {
    color: #fff;
}
.ucp-options fieldset .smalltext {
    font-size: 10pt;
}
/* BOXES */

.box:not(:first-child) {
    margin-top: 20px;
}
.box .headline {
    padding: 20px;
    background: #0e0e14;
    border-left: 2px solid #b54f4f;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 13px;
    color: #ce6060;
}
.box .row {
    background: none;
    border-radius: 0;
    padding: 20px;
    background: rgb(8, 8, 10);
    border-bottom: 1px solid #0e0e14;
}
.box .row:last-child {
    border-bottom: none;
}
/* REDIRECT PAGE */

.redirect {
    left: 50%;
    top: 50%;
    position: absolute;
    min-width: 45%;
    transform: translate(-50%, -50%);
}
.redirect .row {
    background: #00000096;
    border-bottom: .5px solid #2f4a17b5;
}
.r_bg {
    background: rgba(0, 0, 0, 0.43);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
/* FORM */

input[type=radio] {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}
label {
    cursor: pointer;
}
.input-line:not(:first-child) {
    margin-top: 10px;
}
/* FLOATS */

.left {
    float: left;
}
.right {
    float: right;
}
/* GRID */

.left10 {
    float: left;
    width: 10%;
}
.left20 {
    float: left;
    width: 20%;
}
.left25 {
    float: left;
    width: 25%;
}
.left30 {
    float: left;
    width: 30%;
}
.left33 {
    float: left;
    width: 33.3%;
}
.left40 {
    float: left;
    width: 40%;
}
.left50 {
    float: left;
    width: 50%;
}
.left60 {
    float: left;
    width: 60%;
}
.left70 {
    float: left;
    width: 70%;
}
.left80 {
    float: left;
    width: 80%;
}
.left90 {
    float: left;
    width: 90%;
}
/* MARGINS */

.mrg {
    margin-top: 70px;
}
.mrg15 {
    margin-top: 15px;
}
.mrg2 {
    margin-top: 35px;
}
.mb {
    margin-right: 15px;
}
.mt10 {
    margin-top: 10px;
}
.mm13 {
    margin-top: -13px;
}
.p20 {
    padding: 20px;
    box-sizing: border-box;
}
/* SMILIES */

.smilies-box {
    background: #0c0c0d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.smilies-box .headline {
    font-weight: bold;
}
.smilies-box .smilies {
    margin-top: 5px;
}
.smilies-box .smilie {
    display: inline-block;
}
.smilies-box a {
    color: #fff;
}
/* OTHER CLASSES AND MYBB CUSTOMISATION */

#quick_reply_form .stable {
    margin-top: 35px;
}
.row.wb {
    background: none;
    border-bottom: 0;
}
.row.wp {
    padding: 0;
}
.posticons_label img {
    display: inline-block;
    vertical-align: middle;
}
.ar {
    text-align: right;
}
.search-by {
    text-align: right;
    position: relative;
}
.forum-name {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.tl-container {
    margin: 10px 0;
}
.btxt {
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
.stxt {
    font-size: 12px;
}
.post-prev {
    margin: 10px 0;
    font-size: 9pt;
}
.ibck {
    display: inline-block;
}
.ibck:not(select):not(input) {
    padding: 10px;
}
.ibck:first-child {
    padding-left: 0;
}
.vt {
    vertical-align: top;
}
.ac {
    text-align: center;
}
.pc10r {
    box-sizing: border-box;
    padding-right: 10px;
}
.pc10l {
    box-sizing: border-box;
    padding-left: 10px;
}
input {
    box-sizing: border-box;
}
.ofh {
    overflow: hidden;
}
.st {
    font-size: 13px;
}


/* selectize */
.selectize__overlay {
    position: fixed;
    z-index:999999;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.selectize {
    position:relative;
}
.selectize.selectize__top {

} 
.selectize .selectize__open {
    vertical-align:middle;
    cursor: pointer;
}
.selectize .selectize__options {
    visibility:hidden;
    opacity:0;
    z-index: 9999999;
    display: none;
    position: absolute;
    transition: 0.3s ease-in-out opacity;
}
.selectize.selectize--opened .selectize__options {
    visibility:visible;
    opacity:1;
    display: block;
    bottom:20px;
    min-width: 140px;
    right:0;
}
.selectize.selectize--opened .selectize__options:after {
    bottom:-12px;
    line-height:19px;
    font-size:19px;
    right:4px;
    position:absolute;
    color: #050506;
    font-family:"Font Awesome 5 Pro";
    content: '\f0d7';
}
.selectize .selectize__options .selectize__options__option {
    cursor:pointer;
    padding: 10px 10px;
    background: rgb(5, 5, 6);
    color: #60606f;
    text-align: left;
    border-bottom: 1px solid #0f0f16;
    font-weight: normal;
    transition: .3s ease-in-out all;
}
.selectize .selectize__options .selectize__options__option:hover {
    background: #0f0f16;
    color: #cad2dd;
}
.selectize .selectize__options .selectize__options__option:last-child {
    border:none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.selectize .selectize__options .selectize__options__option:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
		
		