.user-list .headline .search-by {
    float: right;
    position: relative;
}
.user-list .users,
.user-list .user-container,
.form-container > div {
    width: 100%;
    text-align: left;
}
.form-container > div:not(:first-child) {
    margin-top: 20px;
}
.user-list .user-container {
    padding: 10px 15px;
}
.user-list .users .user {
    width: 31%;
    display: block;
    padding: 20px;
    float: left;
    box-sizing: border-box;
    background: #101010;
    border-radius: 3px;
    margin-top: 3.5%;
    min-height: 236px;
}
.user-list .users .user .container {
    position: relative;
}
.user-list .users .user .info > span {
    display: block;
    font-size: 12px;
    color: #424251;
}
.user-list .users .user .info > span.groupimage {
    min-height: 50px;
}
.user-list .users .user .avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90px;
    text-align: center;
}
.user-list .users .user .avatar img {
    border-radius: 50%;
    min-width: 70px;
    min-height: 70px;
    margin-bottom: 25px;
}
.user-list .users .user .avatar img.flag {
    border-radius: 0;
    min-height: 25px;
    min-width: 80px;
    position: absolute;
    transform: translate(-75px, 83px);
}
.user-list .users .user .avatar.staffpage img {
    max-width: 100px;
    min-width: 80px;
    min-height: 100px;
}
.user-list .users .user .info {
    padding-left: 100px;
    line-height: 20px;
    min-height: 130px;
}
.user-list .users .user:nth-child(3n+2) {
    margin: 0 3.5%;
    margin-top: 3.5%;
}
.user-list .users .user:nth-child(-n+3) {
    margin-top: 0;
}
.user-list .alphabet a {
    display: inline-block;
    background: #5d0000;
    padding: 8px 10px;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
    transition: background 0.6s ease-in-out;
}
.user-list .alphabet a:hover {
    background: #254085;
}
.user-list .inline-stats {
    text-align: center;
    margin-top: 20px;
}
.user-list .inline-stats > div {
    display: inline-block;
    background: #4864ab;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 12px;
    margin: 0 3px;
    font-weight: bold;
    color: #fff;
}
.user-container .forumteam {
    float: right;
    font-size: 10.5pt;
    padding-top: 11px;
}
.user-container > .pages {
    float: left;
}
.user-container > .pages .pagination {
    margin: 0;
}
.user-container .forumteam strong {
    font-weight: normal;
}
.form-container > div .headline {
    margin-bottom: 10px;
    font-size: 13px;
}
.search-user input[type=submit] {} .search-user .ratio {
    margin-top: 10px;
}
.search-user .ratio input {
    display: inline-block;
    vertical-align: middle;
}
		
		