.profile-header {
    background: #040405;
    background-blend-mode: color;
    background-position: center;
    border-radius: 3px;
    position: relative;
    height: 250px;
    border-bottom: 7px solid #0f0f16;
}
.stats-container {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 10px;
}
.stats-container .stat {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 7px solid #6d0202;
    margin-bottom: -7px;
}
.stats-container .stat .title {
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
}
.stats-container .stat .value {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
.profile-options {
    position: absolute;
    top: 0;
    padding: 20px;
    right: 0;
}
.profile-header .avatar {
    position: relative;
    top: 0px;
    transform: translateY(-5%);
    width: 100%;
}
.profile-header .avatar img {
    min-width: 80px;
    min-height: 100px;
    border-radius: 50%;
}
.profile-header .info {
    margin-left: 20px;
    font-size: 10pt;
    /* position: absolute; */
    left: 136px;
    /* bottom: 15px; */
}
.profile-header .info h1 {
    font-size: 22px;
    line-height: 27px;
}
.profile-header .info h1 .title {
    font-weight: 100;
    font-size: 14px;
    color: #fff;
}
.profile-container .info .group {
    margin-botttom: 10px;
    text-align: center;
}
.profile-container .info .group img {
    max-width: 100%;
}
.profile-container {
    margin-top: 30px;
}
.profile-container .info {
    width: 23%;
    padding-right: 3%;
    box-sizing: border-box;
    float: left;
}
.profile-container .additional-stuff {
    float: right;
    width: 77%;
}
.profile-container .additional-stuff .menu {
    margin-bottom: 30px;
}
.profile-container .additional-stuff .menu ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.profile-container .additional-stuff .menu ul li {
    display: inline-block;
    background: #27273a;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 3px;
    margin: 0 10px;
    transition: background 0.3s ease-in-out,color 0.5s ease-in-out;
    color: #bdb5b5;
}
.profile-container .additional-stuff .menu ul li.active {
    box-shadow: 0 0 30px rgba(26, 76, 149, 0.3);
    background: #6d0202;
    color: #fff;
    cursor: default;
}
.profile-container .additional-stuff .menu ul li:not(.active):hover {
    background: #171720;
    color: white;
}
.profile-container .additional-stuff .menu ul li:first-child {
    margin-left: 0;
}
.profile-container .additional-stuff .stuff > div {
    display: none;
}
.profile-container .additional-stuff .stuff > div.active {
    display: block;
}
.find > a {
    background: #0f0f16;
    padding: 15px 20px;
    border-radius: 3px;
    margin: 10px 0;
    display: block;
    transition: background 0.3s ease-in-out;
    color: #fff;
    font-size: 12px;
}
.find > a:hover {
    background: #171720;
}
.find > a.vote {
    background: #3a8941;
}
.find > a.vote:hover {
    background: #1a7022;
}
.find > a.warn {
    background: #c93030;
}
.find > a.warn:hover {
    background: #952323;
}
.find > a.rep-details {
    background: #4d3f97;
}
.find > a.rep-details:hover {
    background: #302279;
}
.find > div:first-child {
    margin-top: 0;
}
.find > a i {
    margin-right: 5px;
}
.profile-header .info_div {
        width: 31%;
        display: block;
        padding: 20px;
        float: left;
        box-sizing: border-box;
        background: #101010;
        border-radius: 3px;
        height: 100%;
}
@media screen and (max-width: 450px)
{
    .profile-header .info_div {
        width: 100%;
        margin-bottom: 1em;
    }
    .profile-header .info_div.portada {
        width:100%!important;
        border-right: 2px solid #650303;
    }
    .profile-header .info_div.portada img {
        width: auto;
        max-height: 140px!important;
    }
}
		