ul.thread_tools,
ul.thread_tools li {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.thread_tools li {
    padding-left: 24px;
    padding-bottom: 4px;
    margin-bottom: 3px;
    font-size: 11px;
    background-image: url(../../../images/showthread_sprite.png);
    background-repeat: no-repeat;
}
ul.thread_tools li.printable {
    background-position: 0 0;
}
ul.thread_tools li.sendthread {
    background-position: 0 -20px;
}
ul.thread_tools li.subscription_add {
    background-position: 0 -40px;
}
ul.thread_tools li.subscription_remove {
    background-position: 0 -60px;
}
ul.thread_tools li.poll {
    background-position: 0 -80px;
}
.showthread_spinner {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 20px;
    width: 100%;
}
.tb-container {
    margin: 15px 0;
}
.tb-container .left {
    float: left;
}
.tb-container .left ul {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.tb-container .left ul li {
    background: #040405;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
    padding: 7px 12px;
    transition: background 0.6s ease-in-out;
}
.tb-container .left ul li a {
    color: #fff;
}
.tb-container .left ul li:hover {
    background: #090909;
}
.tb-container .left ul li:hover a {
    color: #fff;
}
.tb-container .left ul li i {
    margin-right: 5px;
}
.tb-container .left .pagination {
    margin-top: -3px;
}
.tb-container .inline_rating {
    margin-top: 10px
}
		
		