div[id^=tyl_btn_] {
	display: inline-block;
}

a.add_tyl_button i:after {
	content: "\f004";
	position: absolute;
	font-size: 7px;
	margin: -1px -10px;
	color: #ff00cb;
}

a.del_tyl_button span{
	background-image: url(../../../images/thankyoulike/tyl_del.png);
	background-repeat: no-repeat;
	font-weight: normal;
}

.tyllist{
	background-color: #121215;
	border-top: 0.1rem dotted #3e3c3c;
	border-bottom: 0.1rem dotted #3e3c3c;
	padding: 0.3rem 0.5rem;
}

.tyllist_classic{
	background-color: #f5f5f5;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding: 2px 5px;
}

img[id^=tyl_i_expcol_]{
	vertical-align: bottom;
	filter: saturate(5) hue-rotate(165deg) contrast(2);
	width: 0.8rem;
}

.popular_post{
	border: 2px solid;
	border-radius: 3px;
	border-color: rgba(112,202,47,0.5);
	background-color: rgba(139,195,74,0.3);
}

.tyl_counter{
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #ddd;
	color: #333;
	padding: 1px 5px;
	float: right;
	margin: 4px 5px 0px 10px;
	font-weight: bold;
}

.tyl_div_list {
	position: relative;
	top:50px;
	bottom: 50px;
}
		